body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.hostic {
  margin: auto;
  margin-top: 4rem;
  line-height: 1.5;

  a {
    color: #cf7101;
    text-decoration: none;
  }

  img {
    /* border-radius: 8px; */
    @apply rounded;
  }

  .buildTime {
    color: #929292;
  }

}
